<div class="login-container">
  <img src="assets/logo.png" alt="Logo" class="logo">

  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="form-group">
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="E-mail"
        required
      />
    </div>

    <div class="form-group">
      <input
        type="password"
        name="senha"
        [(ngModel)]="senha"
        placeholder="Senha"
        required
      />
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Entrar</button>

    <button type="button" class="forgot" (click)="onForgotPassword()">
      Esqueci a senha
    </button>
  </form>
</div>
